$border-color: #4A4458;
$thead-background: #D0BCFF;
$thead-color: #381E72;
$tbody-background: #CCC2DC;
$tbody-color: #332D41;
$row-visited-background: #EFB8C8;
$row-visited-background-hover: #633B48;
$row-visited-color-hover: #FFD8E4;

$select-list-background: #4F378B;
$select-list-color: #EADDFF;

$input: #381E72;